.cat {
    padding-top: 100px;
}
.cat .head {
    background-color: var(--dark);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
}
.cat .head i {
    font-size: 30px;
}
.cat .head h2 {
    margin: 0;
}
.playstation {
    background-color: #003087 !important;
}
.pc {
    background-color: rgb(255,111,0) !important;
}
.xbox {
    background-color: #107C10 !important;
}
.hardware {
    background-color: red !important;
}
.cat .logos {
    background-color: var(--dark);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
}
.cat .logos a {
    background-color: var(--white);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid transparent;
    transition: all ease .3s;
}
.cat .logos a:hover {
    border: 2px solid var(--main);

}
.cat .logos img{
    width: 100%;
}
iframe {
    width: 100%;
    height: 700px;
    padding-bottom: 100px;
}
.iframe-head {
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 50px;
}