.widgets .container {
    display: flex;
    gap: 20px;
    align-items: start;
    padding-bottom: 200px;
}
.widgets {
    padding-top: 50px;
}
@media (max-width : 1199px) {
    .widgets .container{
        flex-direction: column;
        gap: 50px;
    }
    .cart-content, .order-summary {
        width: 100% !important;
    }

}
.widgets .order-summary {
    border: 1px solid var(--black-tran-2);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    min-height: 410px;
    user-select: none;
}
.section-heading {
    margin: 0;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    background: rgb(0,173,181);
    background-image: linear-gradient(41deg, rgba(0,173,181,1) 28%, rgba(0,181,103,1) 95%);
    background-clip: text;
    color: transparent;
}
.widgets .order-summary h3 {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--black-tran-2);
}
.widgets .order-summary .sub {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.widgets .order-summary .ship {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#add-coupon {
    user-select: none;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
}
#add-coupon i{
    margin-left: 10px;
    transition: .3s;
}
#add-coupon span {
    transition: .3s;
}
#add-coupon:hover span {
    color: var(--main);
}
#add-coupon:hover i{
    color: var(--main);
    transform: translateX(7px);
}
.widgets .order-summary .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.widgets .order-summary span {
    font-size: 16px;
}
.widgets .order-summary .check {
    outline: none;
    border: none;
    background-color: var(--main);
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px ;
    width: 100%;
    transition: .3s;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 6px;
}
.widgets .order-summary .check::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00f2ff;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: .3s;
}
.widgets .order-summary .check:hover::after{
    left: 0;
}
.coupon-box {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    transition: .3s;
    flex-wrap: wrap;
}
.coupon-box input {
    outline: none;
    border: none;
    height: 30px;
    padding: 10px 7px;
    font-weight: 400;
    background-color: var(--dark);
    color: var(--white);
}
.coupon-box input::placeholder {
    color: var(--black-tran-2);
}
.coupon-box .get {
    outline: none;
    border: none;
    height: 30px;
    width: 70px;
    background-color: var(--dark);
    color: var(--white);
    transition: .3s;
    cursor: pointer;
}
.coupon-box .get:hover {
    background-color: var(--main);
}
.coupon-box i {
    color: var(--black-tran-2);
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
    z-index: 100;
}
.coupon-box i:hover {
    color: var(--white);
}
.hide {
    display: none;
}
.cart-content {
    border: 1px solid var(--black-tran-2);
    padding: 30px;
    flex: 1;
    border-radius: 10px;
    user-select: none;
    min-height: 410px;
}
.main-heading {
    margin: 30px auto;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    width: fit-content;
}
.cart-content .content-head {
    border-bottom: 1px solid var(--black-tran-2);
}
.cart-content .content-head h3{
    width: fit-content;
    padding-bottom: 15px;
    text-align: left;
}
.cart-content .content-head .data-head {
    display: grid;
    grid-template-columns: 40% 15%  25% 15%;
    justify-items: center;
    padding: 7px 0;
    border-top: 1px solid var(--black-tran-2);
}
.data-head span:first-child {
    justify-self: start;
}
.cart-content .games {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
}
.cart-content .item {
    display: grid;
    grid-template-columns: 40% 15%  25% 15% 5%;
    align-items: center;
    justify-items: center;
    transition: .3s;
    background-color: var(--dark);
    border-radius: 10px;
    overflow: hidden;
}
@media (max-width: 767px){
    .data-head span {
        display: none;
    }
    .cart-content .item {
        position: relative !important; 
        height: 130px;
    }
    .item .fa-trash{
        position: absolute !important;
        bottom: 0;
        right: 0;
        padding: 20px;
    }
    .item .quantity{
        position: absolute !important;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 20px;

        padding: 20px;
    }
    .item .product{
        position: absolute !important;
        top: 0;
        left: 0;
        width: 70%;
        height: 60%;
        padding-left: 10px;
    }
    .item #price::before {
        content: 'Price :';
        margin-right: 10px;
    }
    .item #total-price::before {
        content: 'Total Price :';
        margin-right: 10px;
    }
    .item #total-price{
        position: absolute !important;
        bottom: 0;
        left: 60px;
        padding: 10px;
    }
    .item #price{
        position: absolute !important;
        bottom: 25px;
        left: 60px;
        padding: 10px;
    }
    .cart-content .item {
        display: flex;
        flex-direction: column;
    }
    .empty-cart{
        width: 100% !important;
    }
}
.cart-content .item:hover {
    background-color: var(--black-tran-2);
}
.cart-content .item .product {
    display: flex;
    align-items: center;
    justify-self: start;
}
.cart-content .item .product img {
    height: 70px;
    width: 50px;
    border-radius: 10px;
}
.cart-content .item .product h4 {
    box-sizing: content-box;
    margin: 0;
    max-height: 40px;
    padding: 10px;
    overflow: hidden;
}
.cart-content .item .quantity {
    background-color: var(--light);
    width: 50px;
    height: 25px;
    padding: 3px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.cart-content .item .quantity span {
    margin: 0 10px;
    text-align: center;
    color: var(--dark);
    text-align: center;
}
.cart-content .item .quantity .minus,
.cart-content .item .quantity .plus{
    position: absolute;
    color: var(--dark);
    font-size: 10px;
    background-color: var(--light);
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    cursor: pointer;
}
.cart-content  .minus {
    left: -11px;
}
.cart-content  .plus {
    right: -11px;
}
.cart-content  .fa-trash {
    justify-self: start;
    cursor: pointer;
    transition: .3s;
}
.cart-content .fa-trash:hover {
    color: var(--main);
}
.check-disabled::after{
    display: none;
}
.removing {
    opacity: 0;
    transition: opacity 0.2s ease;
}
.just-to-test {
    outline: none;
    border: none;
    background-color: var(--black-tran-2);
    padding: 7px 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    margin: 10px auto;
    width: fit-content;
    transition: .3s;
    cursor: pointer;
    position: absolute;
    top: 70px;
    left: 20px;
}
.just-to-test:hover {
    background-color: var(--main);
}
.empty-cart {
    margin: auto;
    color: #999;
    text-align: center;
    width: 500px;
    margin-top: 50px;
}
.empty-cart i{
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}
.empty-cart span{
    line-height: 1.6;
    width: 400px;
    text-transform: capitalize;
}
/* ============================= */
@keyframes glow-size {
    to {
        width: 60%;
        height: 80%;
    }
}
.rec-games {
    padding: 80px 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: var(--dark);
    display: flex;
}
.rec-games .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rec-games::after {
    content: '';
    position: absolute;
    background: var(--main);
    border-radius: 50%;
    filter: blur(200px);
    right: -10%;
    bottom: 0;
    opacity: .2;
    height: 60%;
    width: 45%;
    z-index: -1;
    animation-name: glow-size;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
.rec-games h2{
    width: fit-content;
    font-size: 45px;
    padding-bottom: 50px;
}
.rec-games .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    left: 0;
    transition: .5s;
}
.rec-games .games .game-item {
    background-color: rgba(0, 0, 0, .05);
    padding: 10px;
    position: relative;
    border-radius: 10px;
    user-select: none;
    transition: .3s;
    width: 220px;
}
.rec-games .games .game-item:hover{
    transform: translateY(-7px);
}
.rec-games .games .game-item::after {
    content: '';
    width: calc(100% - 20px);
    height: 260px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: .3s;
    opacity: 0;
}
.rec-games .games .game-item:hover::after{
    opacity: .2;
}
.rec-games .games .game-item img {
    width: 100%;
    height: 260px;
    position: relative;
    transition: .3s;
    z-index: 0;
}
.rec-games .games .game-item .stars {
    padding: 0 10px;
}
.rec-games .games .game-item .stars i{
    font-size: 12px;
    padding: 10px 0;
    color: var(--main);
}
.rec-games .games .game-item h3 {
    color: var(--white);
    margin: 0;
    font-weight: normal;
    padding: 0 10px;
    padding-bottom: 40px;
}
.rec-games .games .game-item span {
    display: block;
    width: fit-content;
    background-color: var(--main);
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 6px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 10px;
}
footer {
    background-color: var(--darker);
}
footer > p {
    border-color: var(--dark) !important;
}
footer h2 {
    font-size: 45px !important;
}
footer input, footer textarea {
    background-color: var(--dark) !important;
}