/* *{
    margin: 0;
    padding: 0;
    
}

body{
    background: linear-gradient(rgb(33, 2, 50), rgb(83, 5, 67));
    height: 100vh;
    font-family: system-ui;
}
a{
    text-decoration: none;
    color: azure;
}
header{
    z-index: 100;
    position:fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;


}

header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
    
}

header ul li a:hover{
    background: white;
    color: rgb(17, 13, 47);
}

.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background:linear-gradient(to top,rgb(39, 3, 32),transparent) ;

}

.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);
}

.nouvil{
    color: aliceblue;
    font-size:30px;
    text-transform: uppercase;
    transform: translateY(-140px);

}

.coontent{
    color: white;
    padding: 30px;
}
.coontent h2{
    margin: 20px;
    font-size: 20px;

}

.coontent p{
    margin: 20px;
} */

/* <====================    Starting here    ===================> */
