
/* .product-detail{
    display: flex;
    align-items: center;
    flex-direction: row;
} */
.product {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 20px;
    padding: 0px 0;
}

.adjust{
    margin-top: -30px;
}

.card{
   position: relative;
   background: rgb(56, 55, 63); 
   border: 3px solid #13bae0;
   border-radius: 20px;
   width: 400px;
}

.card .cardcontent{
    
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;

}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  
}

.name-profession .name{
    font-size: 20px;
    font-weight: 600px;
}

.name-profession .profession{
    font-size: 15px;
    font-weight: 500;
}

.card .button2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.card .button2 button{
    background: #3fa4c6;
    border: none;
    outline: none;
    color: black;
    font-weight: 600;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.card .button2 button:hover{
    background: white;
}


.detailbox ,.detailbox_q , .detailboxv2{
    background: rgb(204, 205, 231);
    position: relative;
    width: 400px;
    height: 350px;
    border-radius:10px ;
    border: black solid 2px;
}

.detailbox_q{
  top: 12.5%;
  right: 7.5%;
  position: absolute;
  z-index: 1;
}


.detailbox span{
    font-size: 50px;
}

.detailbox h2 ,.rating{
    transform: translateY(-50px);
    line-height: 20px
}
.detailbox h2{
     margin-left:50px ;
}

.rating{
     margin-left: 50px;
}

.textsection{
    margin-top: 50px;
}



.bar-5star{
    position: relative;
    background: rgb(0, 191, 255);
    width: 75%;
    height: 100%;
}

.bar-4star{
    position: relative;
    background: rgb(0, 255, 98);
    width: 50%;
    height: 100%;
}

.bar-3star{
    position: relative;
    background: rgb(255, 42, 0);
    width: 25%;
    height: 100%;
}

.bar-fullstar{
    position: relative;
    background: rgb(255, 230, 0);
    width: 95%;
    height: 100%;
}

.barcontainer{
    position: relative;
    background: rgb(255, 215, 215);
    width: 300px;
    height: 25px;
    margin: 0 50px;
    margin-top: 20px;

}


  .comment{
     background-color: #fff;
     height: 120px;
     margin: 0 30px;
     color: black;
     border:  black solid 2px;
     margin-top: 30px;
  }

.comment .user_image img{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:  black solid 2px;
    margin: 5px 5px;
    
}


.user_image .name{
    display: flex;
    width: auto;
    display: inline-block;
    background-color: rgb(234, 216, 187);
    transform: translateX(-100px);
}

.user_image .rate{
    display: inline-block;
    transform: translateY(-25px);
}

.seprate_line{
    background-color: black;
    width: 335px;
    height: 2px;
}


.item_1 ,.item_2 {
    display: flex;
    background-color: #a3e8a5;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    display: inline;
}

.items li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.items li:hover{
    background-color: gray;
}


.list .container{
    display: flex;
    justify-content: center;
    gap: 20px;
    user-select: none;
}





.items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 50px;
    margin-right: 60px;
  }

.list .item_1, .list .item_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_1:hover ,.item_2:hover  {
    background-color: #3e8e41;

}

.item_1:hover .items ,.item_1:hover .items{
    display: block;
}

.show {display:block;}




table, th, td {
    border: 3px solid rgb(159, 180, 255);
    background-color: azure;
    color: rgb(29, 28, 30);
  }

  table{
    margin: 20px 50px;
  }

  th {
    background-color:rgb(210, 223, 223) ;
  }
  
  .detailbox video{
    background-color: rgb(23, 22, 24);
    width: 400px;
    clip: var(-100px);
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 320px;
  }
  

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .next:hover{
    color: white;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }



  /*
body {
    min-height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: hsl(137, 46%, 24%);
    font-family: "Poppins", sans-serif;
  
    }
    */
    
    .card-star {
    text-align: center;
    justify-content: center;
    max-width: 33rem;
    background: #a4a5ba;
    width: 100%;
    height: 120px;
    border-radius: 0.5rem;
    }


    .star {
    font-size: 4vh;
    color: black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    }
    
    .one {
    color: rgb(255, 0, 0);
    }
    
    .two {
    color: rgb(255, 106, 0);
    }
    
    .three {
    color: rgb(251, 255, 120);
    }
    
    .four {
    color: rgb(255, 255, 0);
    }
    
    .five {
    color: rgb(24, 159, 14);
    }
    

    form{
        margin-top: 50px;
    }

    input{
        position: absolute;
        background-color: #a1d2dd;
        border-radius: 20%;
        top: 75%;
        margin-left: 50px;
        width: 120px;
        height: 50px;
        font-weight: bold;
    }

    .input:hover{
        background-color: #efecf8;
    }

    .dot ,.dotv2 {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0px 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
      
    .active, .dot:hover {
    background-color: #717171;
    }

    .active1, .dotv2:hover {
        background-color: #717171;
    }

    .prev, .next  {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
    margin-left: 850px;
    border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }

/* ------another one for detailboxv2 ----*/
    .nextt {
        margin-left: 850px;
        border-radius: 3px 0 0 3px;
    }
        
        /* On hover, add a black background color with a little bit see-through */
    .prevv:hover, .nextt:hover {
    background-color: rgba(0,0,0,0.8);
    }


    .prevv, .nextt  {
        cursor: pointer;
        position: absolute;
        top: 70%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .detailboxv2 video{
        background-color: rgb(23, 22, 24);
        width: 400px;
        clip: var(-100px);
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        height: 320px;
      }

      .detailbox span{
        font-size: 50px;
    }
    
    .detailboxv2 h2 ,.rating{
        transform: translateY(-50px);
        line-height: 20px
    }
    .detailboxv2 h2{
         margin-left:50px ;
    }
/* ------------------------------- ----*/

    .detailbox {display: none}
    .detailboxv2 {display: none}



    .iframe-container
    {
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .iframe-container{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0px 400px;

    
    }
    .iframe-container h2{
        background-color: #717171;
        width: 60%;
    }