
/* :root {
    --link: skyblue;
}


.blured-background {
    background-image: url(../Images/homeImgs/Landing-Page-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    filter: blur(5px);
}
.login-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 700px;
    top: 25%;
    left: 10%;
    font-size: inherit;
    margin-right: 5px;
}
.login-text p {
    line-height: 3;
    font-size: 30px;
    text-transform: capitalize;
    font-weight:lighter;
    background: rgb(0, 173, 181);
    background-image: linear-gradient(41deg, rgba(0, 173, 181, 1) 28%, rgb(165, 27, 61) 95%);
    background-clip: text;
    color: transparent;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.logo span span{
    color: #00ADB5;
}

/* .wrapper {
    position: absolute;
    width: 480px;
    height: 440px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    transition: height .2s ease;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(50%,-50%);
}

.wrapper.sign-active {
    height: 520px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .15s ease;
    transform: translateX(0);
}
.wrapper.sign-active .form-box.login {
    transition: none;
    transform: translateX(-500px);
}


.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(500px);
}
.wrapper.sign-active .form-box.register {
    transition: transform .15s ease;
    transform: translateX(-1px);
}

.form-box.register{
    justify-content: center;
}

.form-box h2 {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 34px;
    background: rgb(0, 173, 181);
    background-image: linear-gradient(41deg, rgba(0, 173, 181, 1) 28%, rgba(0, 181, 103, 1) 95%);
    background-clip: text;
    color: transparent;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .3s;
}
.input-filled label,
.input-box input:focus~label
{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot  input {
    accent-color: white;
    margin-right: 4px;
}
.remember-forgot a:hover {
    color: var(--link);
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: white ;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}
.btn:hover {
    background-color: black;
    color: white;
}
.login-register {
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: white;
    font-weight: 600;
}
.login-register a:hover {
    color: var(--link);
    text-decoration: underline;
} */

/*======================================= new idead ============================== */


* {
    margin: 0 ;
    padding: 0;
}
h1 {
    margin: 0;
}
nav {
    position: absolute;
    top: 0;
    width: 100%;
}

body {
    /* background-image: url(../Images/homeImgs/Landing-Page-2.jpg); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}



.container2 {
    background-color: var(--main);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 480px;
}

.container2 p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    text-transform: capitalize;

}

.container2 span {
    font-size: 12px;
}

.container2 a {
    color: var(--light);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.container2 button {
    background-color: var(--dark);
    color: var(--main);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.container2 button.hidden {
    background-color: transparent;
    border-color: var(--main);
}

.container2 form{
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container2 input {
    background-color: var(--light);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    color: var(--darker);
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container2.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container2.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50% , 100% {
        opacity: 1;
        z-index: 5;
    }
}


.social-icons {
    margin: 20px 0; 
}

.social-icons a {
    border: 1px solid var(--light);
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;

}
.error-sign-email,
.container2 span.error-sign-pass{
    width: 100%;
    margin-left: 5px;
    color: darkred;
    font-size: 13px;
    text-transform: uppercase;
}


.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}


.container2.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: var(--darker);
    height: 100%;
    background: linear-gradient(to right , var(--dark), var(--darker));
    color: var(--light);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease ease-in-out;
}

.container2.active .toggle  {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}


.toggle-left {
    transform: translateX(-200%);
}

.container2.active .toggle-left{
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container2.active .toggle-right{
    transform: translateX(200%);
}
