/* Start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root {
    --dark: #393E46;
    --darker: #222831;
    --main: #00ADB5;
    --light: #EEEEEE;
    --white: white;
    --tranlayer: rgba(23, 16, 16, 0.08);
    --black-tran: rgba(0, 0, 0, 0.15);
    --black-tran-2: rgba(255, 255, 255, 0.2);
}

.light-theme {
    --dark: #EEEEEE;
    --darker: white;
    --main: #00ADB5;
    --light: #393E46;
    --white: #222831;
    --tranlayer: rgba(0,0,0,.08);
    --black-tran: rgba(0, 0, 0, 0.05);
    --black-tran-2: rgba(0, 0, 0, 0.2);
}

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    background-color: var(--dark);
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main);
}
body {
    font-family: "Rubik", sans-serif;
    background-color: var(--darker);
    color: var(--white);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.temp-div {
    height: 3000px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Nav */

nav {
    user-select: none;
    background-color: var(--dark);
    position: sticky;
    top: 0;
    z-index: 100;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px;
}
nav .logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
nav .logo i {
    font-size: 30px;
    margin-right: 5px;
}
nav .logo span span{
    color: var(--main);
}
.pages-box {
    position: relative;
}
nav .pages {
    display: none;
    position: absolute;
    top: 170%;
    left: 0;
    background-color: var(--dark);
    border-radius: 10px;
    justify-content: space-between;
    padding: 30px;
    z-index: 100;
    width: 450px;
    font-size: 17px;
}
nav .pages li:not(:last-child) {
    margin-right: 30px;
}

nav .pages li a{
    display: block;
    padding: 10px 15px;
    transition: .2s;
    color: var(--light);
    border-radius: 6px;
    min-width: 200px;
    /* margin: 0 !important; */
    /* margin-bottom: 5px !important; */
}
nav .pages li a:hover{
    background-color: var(--tranlayer);
    color: var(--white);
    padding-left: 20px;
    
}
nav .pages li a.active{
    /* border: 1px solid var(--main); */
    color: var(--main);
}
nav .pages i {
    margin-right: 15px;
}
nav .pages li {
    margin: 0 !important;
    margin-bottom: 5px !important;
}
nav #toggle-menu {
    margin-left: 20px;
    color: var(--white);
    font-size: 22px;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 6px;
    transition: .2s;
}
nav #toggle-menu:hover {
    background-color: var(--tranlayer);
    color: var(--white);
}
#menu-arrow {
    font-size: 16px;
    margin-left: 5px;
    transition: .3s;
}
.rotate-arrow-on-click {
    transform: rotate(180deg);
}
nav .rightOptions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}
nav .rightOptions .profile{
    padding: 7px 15px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: .2s;
    width: 130px;
    text-align: center;
}
nav .rightOptions .profile i{
    margin-right: 5px;
    color: var(--main);
}
nav .rightOptions .profile:hover{
    background-color: var(--tranlayer);
    color: var(--white);
}
nav .acc {
    z-index: 100;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--dark);
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 6px;
    transition: .2s;
    text-align: left;
}
nav .acc a{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    padding: 10px;
}
nav .acc a i{
    margin-right: 10px !important;
    color: var(--light) !important;
}
nav .acc a:hover{
    background-color: var(--tranlayer);
    color: var(--white);
}
nav .rightOptions .profile:hover .acc{
    display: block;
}
nav .cart {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    padding: 10px;
}
nav .cart i{
    margin-right: 5px;
}
nav .cart:hover {
    background-color: var(--tranlayer);
    color: var(--white);
}

#theme {
    font-size: 20px;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 6px;
    transition: .2s;
}
#theme:hover {
    background-color: var(--tranlayer);
    color: var(--white);
}
@media (max-width: 767px){
    .logo span {
        display: none;
    }
    nav .pages {
        left: -63px;
        top: 100%;
        width: 100vw;
        justify-content: center;
    }

}
/* End Nav */

/* Search bar*/
.search-bar {
    display: flex;
    align-items: center;
}
.search-bar button {
    border: none;
    outline: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 22;
    cursor: pointer;
    transition: .5s;
    background-color: var(--main);
}
.search-bar button i {
    color: black;
    font-size: 14px;
    transform: rotateZ(80deg);
    transition: .5s;
}
.search-bar input {
    color: var(--white);
    background-color: var(--darker);
    display: block;
    outline: none;
    border: none;
    height: 30px;
    width: 0;
    transition: .5s;
    column-rule-color: var(--white);
    opacity: 0;
}
.search-bar input::placeholder {
    color: var(--light);
    font-size: 14px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.search-btn-after {
    margin-right: -25px;
    border-radius: 6px !important;
}
.search-i-after {
    transform: rotateZ(0deg) !important;
}
.search-input-after {
    opacity: 1 !important;
    width: 250px !important;
    height: 30px !important;
    padding-left: 35px;
    column-rule-color: var(--dark);
    border-radius: 6px;
}
@media (max-width: 991px){
    .search-bar {
        position: absolute;
        bottom: -60%;
        right: 10px;
    }
}
/* Start Footer */
.section-heading {
    margin: 0;
    font-weight: normal;
    font-size: 45px;
    text-align: center;
    background: rgb(0,173,181);
    background-image: linear-gradient(41deg, rgba(0,173,181,1) 28%, rgba(0,181,103,1) 95%);
    background-clip: text;
    color: transparent;
    width: fit-content;
}
footer {
    background-color: var(--dark);
    padding-top: 50px;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
}
footer::after {
    content: '';
    position: absolute;
    background: var(--main);
    border-radius: 50%;
    filter: blur(200px);
    height: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
    opacity: .2;
    width: 25%;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer h3 {
    margin: 10px;
    font-size: 35px;
    text-transform: uppercase;
}
footer .social {
    display: flex;
    gap: 10px;
}
footer .box:first-child {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.8;
    margin-right: 60px;
}

footer .social li{
    color: white;
    font-size: 30px;
    background-color: var(--tranlayer);
    width: 70px;
    height: 70px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
@media (max-width: 767px){
    footer .container  {
        flex-direction: column;
    }
    footer .box {
        text-align: center;
    }
    footer .box:first-child {
        margin: 0;
    }

}
footer .social li:last-child:hover{
    background-color: red;
}
footer .social li:first-child:hover{
    background-color: #3b5998;
}
footer .social li:nth-child(2):hover{
    background-color: black;
}

footer .box .line{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
footer .box .line:not(:last-child) i{
    font-size: 30px;
    margin-right: 10px;
}
footer .box .line i:first-child {
    padding-left: 10px;
    padding-right: 10px;
}
footer > p:last-child {
    border-top: 1px solid var(--darker);
    padding-top: 30px;
    margin-top: 50px;
    text-align: center;
}
.contact-form {
    min-width: 400px;
    padding: 20px;
}
.contact-form input {
    outline: none;
    border: none;
    background-color: var(--darker);
    height: 35px;
    color: var(--white);
    padding: 3px 10px;
    border-radius: 6px;
}
.contact-form input::placeholder {
    color: var(--black-tran-2)
}
.contact-form textarea {
    border-radius: 6px;
    resize: none;
    background-color: var(--darker);
    color: var(--white);
    outline: none;
    border: none;
    height: 100px;
    padding: 10px;
}
.contact-form textarea::-webkit-scrollbar {
    border-radius: 6px;
    background-color: var(--darker);
}
.contact-form textarea::placeholder {
    color: var(--black-tran-2);
}
.contact-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form p {
    margin: 0;
    margin-bottom: 15px;
}
.contact-inputs button {
    outline: none;
    border: none;
    background-color: var(--main);
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px 0;
    font-weight: 500;
    cursor: pointer;
}
.contact-inputs .contact-row {
    display: flex;
    gap: 20px;
}
@media (max-width: 767px){
    .contact-inputs .contact-row {
        flex-direction: column;
    }
    footer .box {
        text-align: left;
    }
    footer .box .line:last-child {
        display: flex;
        justify-content: center;
    }

}
.contact-form p {
    text-align: left;
}
/* End Footer */ 
